*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body{
    background-color: #ddd;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;

}
.opener{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;

}


h1{
    font-size: 70px;
    text-align: right;
    margin: 10px;
    grid-column: 1 / 10;
    grid-row: 1 / 1
    
}
 
h1 span{
    font-family: 'Calligraffitti';
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    
}

h2{
    text-align: center;
}
p{

}

.header img{
    width: 100px;
    height: 100px;
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    border-radius: 50%;
    margin: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow: hidden;


}

.nav{
    background-color: red;
    grid-column: 1 / 13;
    grid-row: 3 / 3;
    text-align: center;
}

.content{
    background-color: green;
    grid-column: 1 / 9;
    grid-row: 4 / 11;
    text-align: center;


}

.aside{
    background-color: blue;
    grid-column: 9 / 13;
    grid-row: 4 / 11;
    text-align: center;
}

.footer{
    background-color: purple;
    grid-column: 1 / 13;
    grid-row: 11 / 13
    
}